war/WEB-INF/constituents.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:schema="http://www.orangeleap.com/orangeleap/services/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.orangeleap.com/orangeleap/services/1.0">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.orangeleap.com/orangeleap/services/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.orangeleap.com/orangeleap/services/1.0">
  
  
  <xs:complexType name="customField">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" type="xs:long"/>
      <xs:element minOccurs="0" name="displayEndDate" type="xs:string"/>
      <xs:element minOccurs="0" name="displayStartDate" type="xs:string"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="entityId" type="xs:long"/>
      <xs:element minOccurs="1" name="entityType" type="xs:string"/>
      <xs:element minOccurs="1" name="id" type="xs:long"/>
      <xs:element minOccurs="1" name="name" type="xs:string"/>
      <xs:element minOccurs="1" name="sequenceNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
      <xs:element minOccurs="1" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractCustomizableEntity">
    <xs:sequence>
	<xs:element name="customFieldMap">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element maxOccurs="1" minOccurs="1" name="key" type="xs:string"/>
		    <xs:element maxOccurs="1" minOccurs="1" name="value" type="tns:customField"/>
		  </xs:sequence>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:complexContent>
      <xs:extension base="tns:abstractCommunicationEntity">
	<xs:sequence>
	  <xs:element maxOccurs="1" minOccurs="1" name="addressLine1" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="0" name="addressLine2" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="0" name="addressLine3" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="city" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="postalCode" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="stateProvince" type="xs:string"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="activationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="permanent"/>
      <xs:enumeration value="temporary"/>
      <xs:enumeration value="seasonal"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:complexType abstract="true" name="abstractCommunicationEntity">
    <xs:complexContent>
      <xs:extension base="tns:abstractCustomizableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="activationStatus" type="tns:activationType"/>
          <xs:element minOccurs="0" name="comments" type="xs:string"/>
          <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
          <xs:element name="inactive" type="xs:boolean"/>
          <xs:element maxOccurs="1" minOccurs="1" name="personId" type="xs:long"/>
          <xs:element name="primary" type="xs:boolean"/>
          <xs:element name="receiveCorrespondence" type="xs:boolean"/>
          <xs:element minOccurs="0" name="seasonalEndDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="seasonalStartDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="temporaryEndDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="temporaryStartDate" type="xs:dateTime"/>
          <xs:element name="undeliverable" type="xs:boolean"/>
          <xs:element name="userCreated" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="email">
    <xs:complexContent>
      <xs:extension base="tns:abstractCommunicationEntity">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="emailAddress" type="xs:string"/>
          <xs:element minOccurs="0" name="emailDisplay" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="distributionLine">
    <xs:complexContent>
      <xs:extension base="tns:abstractCustomizableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="adjustedGiftId" type="xs:long"/>
          <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="giftId" type="xs:long"/>
          <xs:element minOccurs="0" name="motivationCode" type="xs:string"/>
          <xs:element minOccurs="0" name="other_motivationCode" type="xs:string"/>
          <xs:element minOccurs="0" name="percentage" type="xs:decimal"/>
          <xs:element minOccurs="0" name="person" type="tns:constituent"/>
          <xs:element minOccurs="0" name="pledgeId" type="xs:long"/>
          <xs:element minOccurs="0" name="projectCode" type="xs:string"/>
          <xs:element minOccurs="0" name="recurringGiftId" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="paymentSource">
        <xs:sequence>
          <xs:element minOccurs="0" name="achAccountNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="achAccountNumberDisplay" type="xs:string"/>
          <xs:element minOccurs="0" name="achAccountNumberEncrypted" type="xs:string"/>
          <xs:element minOccurs="0" name="achHolderName" type="xs:string"/>
          <xs:element minOccurs="0" name="achRoutingNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="achRoutingNumberDisplay" type="xs:string"/>
          <xs:element minOccurs="0" name="address" type="tns:address"/>
          <xs:element minOccurs="0" name="addressType" type="tns:formBeanType"/>
          <xs:element minOccurs="0" name="creditCardExpiration" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="creditCardExpirationMonth" type="xs:int"/>
          <xs:element minOccurs="0" name="creditCardExpirationYear" type="xs:int"/>
          <xs:element minOccurs="0" name="creditCardHolderName" type="xs:string"/>
          <xs:element minOccurs="0" name="creditCardNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="creditCardNumberDisplay" type="xs:string"/>
          <xs:element minOccurs="0" name="creditCardNumberEncrypted" type="xs:string"/>
          <xs:element minOccurs="0" name="creditCardSecurityCode" type="xs:string"/>
          <xs:element minOccurs="0" name="creditCardType" type="xs:string"/>
          <xs:element name="inactive" type="xs:boolean"/>
          <xs:element minOccurs="0" name="lastFourDigits" type="xs:string"/>
          <xs:element minOccurs="0" name="paymentType" type="tns:PaymentType"/>
          <xs:element minOccurs="0" name="person" type="tns:constituent"/>
          <xs:element minOccurs="0" name="phone" type="tns:phone"/>
          <xs:element minOccurs="0" name="phoneType" type="tns:formBeanType"/>
          <xs:element minOccurs="0" name="profile" type="xs:string"/>
          <xs:element minOccurs="0" name="selectedAddress" type="tns:address"/>
          <xs:element minOccurs="0" name="selectedPhone" type="tns:phone"/>
          <xs:element name="userCreated" type="xs:boolean"/>
        </xs:sequence>
  </xs:complexType>
	  <xs:simpleType name="PaymentType">
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="ACH"/>
	      <xs:enumeration value="Credit Card"/>
	      <xs:enumeration value="Cash"/>
	      <xs:enumeration value="Check"/>
	    </xs:restriction>
	  </xs:simpleType>

  <xs:complexType abstract="true" name="abstractPaymentInfoEntity">
    <xs:complexContent>
      <xs:extension base="tns:abstractCustomizableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="acknowledgmentDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="address" type="tns:address"/>
          <xs:element minOccurs="0" name="addressType" type="tns:formBeanType"/>
          <xs:element minOccurs="0" name="checkNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="comments" type="xs:string"/>
          <xs:element minOccurs="0" name="currencyCode" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributionLines" nillable="true" type="tns:distributionLine"/>
          <xs:element minOccurs="0" name="email" type="tns:email"/>
          <xs:element minOccurs="0" name="paymentSource" type="tns:paymentSource"/>
          <xs:element minOccurs="0" name="paymentSourceType" type="tns:formBeanType"/>
          <xs:element minOccurs="0" name="paymentType" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="personId" type="xs:long"/>
          <xs:element minOccurs="0" name="phone" type="tns:phone"/>
          <xs:element minOccurs="0" name="phoneType" type="tns:formBeanType"/>
          <xs:element minOccurs="0" name="selectedAddress" type="tns:address"/>
          <xs:element minOccurs="0" name="selectedEmail" type="tns:email"/>
          <xs:element minOccurs="0" name="selectedPaymentSource" type="tns:paymentSource"/>
          <xs:element minOccurs="0" name="selectedPhone" type="tns:phone"/>
          <xs:element name="sendAcknowledgment" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="phone">
    <xs:complexContent>
      <xs:extension base="tns:abstractCommunicationEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="number" type="xs:string"/>
          <xs:element minOccurs="0" name="provider" type="xs:string"/>
          <xs:element minOccurs="0" name="sms" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="formBeanType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="EXISTING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="gift">
    <xs:complexContent>
      <xs:extension base="tns:abstractPaymentInfoEntity">
        <xs:sequence>
          <xs:element minOccurs="1" name="amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="authCode" type="xs:string"/>
          <xs:element name="deductible" type="xs:boolean"/>
          <xs:element minOccurs="0" name="deductibleAmount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="donationDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="giftStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="paymentMessage" type="xs:string"/>
          <xs:element minOccurs="0" name="paymentStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="postmarkDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="txRefNum" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="constituent">
    <xs:complexContent>
      <xs:extension base="tns:abstractCustomizableEntity">
	<xs:sequence>
	  <xs:element maxOccurs="1" minOccurs="0" name="accountNumber" type="xs:long"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="firstName" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="1" name="lastName" type="xs:string"/>
	  <xs:element maxOccurs="1" minOccurs="0" name="title" type="xs:string"/>
	  <xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="tns:address"/>
	  <xs:element maxOccurs="unbounded" minOccurs="0" name="emails" nillable="true" type="tns:email"/>
	  <xs:element maxOccurs="unbounded" minOccurs="0" name="phones" nillable="true" type="tns:phone"/>
	  <xs:element minOccurs="0" name="primaryAddress" type="tns:address"/>
	  <xs:element minOccurs="0" name="primaryEmail" type="tns:email"/>
	  <xs:element minOccurs="0" name="primaryPhone" type="tns:phone"/>
	  <xs:element minOccurs="0" name="organizationName" type="xs:string"/>
	  <xs:element minOccurs="0" name="constituentAttributes" type="xs:string"/>
	  <xs:element minOccurs="0" name="constituentIndividualRoles" type="xs:string"/>
	  <xs:element minOccurs="0" name="constituentOrganizationRoles" type="xs:string"/>
	  <xs:element minOccurs="0" name="constituentType" type="xs:string"/>
	  <xs:element minOccurs="0" name="preferredPhoneType" type="xs:string"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  
 <xs:element name="SaveOrUpdateConstituentRequest">
  <xs:complexType>
  	<xs:sequence>
  		<xs:element name="constituent" type="tns:constituent"/>
  	</xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CreateDefaultConstituentRequest">
  <xs:complexType>
  	<xs:sequence>
  		<xs:element name="dummy" type="xs:string"/>
  	</xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="ConstituentResponse">
  <xs:complexType>
  	<xs:sequence>
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="constituent" type="tns:constituent"/>
  	</xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="FindConstituentsRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="constituent" type="tns:constituent"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="SearchConstituentsRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="constituent" type="tns:constituent"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="SaveOrUpdateGiftRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="constituentId" type="xs:long"/>
      <xs:element maxOccurs="1" minOccurs="1" name="gift" type="tns:gift"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GetConstituentGiftRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="constituentId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GiftResponse">
  <xs:complexType>
  	<xs:sequence>
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="gift" type="tns:gift"/>
  	</xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GetSegmentationRequest">
  <xs:complexType>
    <xs:sequence>
    <xs:element name="segmentation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SaveOrUpdateConstituentRequest">
    <wsdl:part element="schema:SaveOrUpdateConstituentRequest" name="SaveOrUpdateConstituentRequest"/>
  </wsdl:message>
  <wsdl:message name="SaveOrUpdateGiftRequest">
    <wsdl:part element="schema:SaveOrUpdateGiftRequest" name="SaveOrUpdateGiftRequest"/>
  </wsdl:message>
  <wsdl:message name="FindConstituentsRequest">
    <wsdl:part element="schema:FindConstituentsRequest" name="FindConstituentsRequest"/>
  </wsdl:message>
  <wsdl:message name="ConstituentResponse">
    <wsdl:part element="schema:ConstituentResponse" name="ConstituentResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateDefaultConstituentRequest">
    <wsdl:part element="schema:CreateDefaultConstituentRequest" name="CreateDefaultConstituentRequest"/>
  </wsdl:message>
  <wsdl:message name="GetSegmentationRequest">
    <wsdl:part element="schema:GetSegmentationRequest" name="GetSegmentationRequest"/>
  </wsdl:message>
  <wsdl:message name="SearchConstituentsRequest">
    <wsdl:part element="schema:SearchConstituentsRequest" name="SearchConstituentsRequest"/>
  </wsdl:message>
  <wsdl:message name="GiftResponse">
    <wsdl:part element="schema:GiftResponse" name="GiftResponse"/>
  </wsdl:message>
  <wsdl:message name="GetConstituentGiftRequest">
    <wsdl:part element="schema:GetConstituentGiftRequest" name="GetConstituentGiftRequest"/>
  </wsdl:message>
  <wsdl:portType name="OrangeLeap">
    <wsdl:operation name="SaveOrUpdateConstituent">
      <wsdl:input message="schema:SaveOrUpdateConstituentRequest" name="SaveOrUpdateConstituentRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdateGift">
      <wsdl:input message="schema:SaveOrUpdateGiftRequest" name="SaveOrUpdateGiftRequest"/>
    </wsdl:operation>
    <wsdl:operation name="FindConstituents">
      <wsdl:input message="schema:FindConstituentsRequest" name="FindConstituentsRequest"/>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultConstituent">
      <wsdl:input message="schema:CreateDefaultConstituentRequest" name="CreateDefaultConstituentRequest"/>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentation">
      <wsdl:input message="schema:GetSegmentationRequest" name="GetSegmentationRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SearchConstituents">
      <wsdl:input message="schema:SearchConstituentsRequest" name="SearchConstituentsRequest"/>
    </wsdl:operation>
    <wsdl:operation name="GetConstituentGift">
      <wsdl:input message="schema:GetConstituentGiftRequest" name="GetConstituentGiftRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrangeLeapBinding" type="schema:OrangeLeap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveOrUpdateConstituent">
      <soap:operation soapAction=""/>
      <wsdl:input name="SaveOrUpdateConstituentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdateGift">
      <soap:operation soapAction=""/>
      <wsdl:input name="SaveOrUpdateGiftRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FindConstituents">
      <soap:operation soapAction=""/>
      <wsdl:input name="FindConstituentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultConstituent">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateDefaultConstituentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentation">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSegmentationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SearchConstituents">
      <soap:operation soapAction=""/>
      <wsdl:input name="SearchConstituentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConstituentGift">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetConstituentGiftRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrangeLeapService">
    <wsdl:port binding="schema:OrangeLeapBinding" name="OrangeLeapPort">
      <soap:address location="http://localhost:8080/orangeleap/services/1.0/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>